## Libraries and Data Setup

In [55]:
import sagemaker
import boto3

import joblib
import pathlib
from io import StringIO
import argparse
import os

import pandas as pd
import numpy as np

import sklearn
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, precision_score, f1_score
from sklearn.model_selection import train_test_split

In [56]:

# Specify the region
region = 'us-west-2'  # replace with your desired region

# Connect to SageMaker
boto_session = boto3.Session(region_name=region)
sm_boto3 = boto_session.client("sagemaker")
session = sagemaker.Session(boto_session=boto_session)
bucket = 'ml-mobile-price-classification-sagemaker'

In [57]:
df = pd.read_csv('train.csv')

## Exploratory Analysis

In [58]:
df.shape

(2000, 21)

In [59]:
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [60]:
df.describe()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
count,2000.000000,2000.0000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,0.4950,1.522250,0.509500,4.309500,0.521500,32.046500,0.501750,140.249000,4.520500,...,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000,0.761500,0.503000,0.507000,1.500000
std,439.418206,0.5001,0.816004,0.500035,4.341444,0.499662,18.145715,0.288416,35.399655,2.287837,...,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955,0.426273,0.500116,0.500076,1.118314
min,501.000000,0.0000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,...,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,851.750000,0.0000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,3.000000,...,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.750000
50%,1226.000000,0.0000,1.500000,1.000000,3.000000,1.000000,32.000000,0.500000,141.000000,4.000000,...,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,1.500000
75%,1615.250000,1.0000,2.200000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,7.000000,...,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.250000
max,1998.000000,1.0000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.000000,...,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000

In [61]:
df.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [62]:
df['price_range'].value_counts(normalize=True)

price_range
1    0.25
2    0.25
3    0.25
0    0.25
Name: proportion, dtype: float64

In [63]:
# Percentage of values that are null
df.isnull().mean() * 100

battery_power    0.0
blue             0.0
clock_speed      0.0
dual_sim         0.0
fc               0.0
four_g           0.0
int_memory       0.0
m_dep            0.0
mobile_wt        0.0
n_cores          0.0
pc               0.0
px_height        0.0
px_width         0.0
ram              0.0
sc_h             0.0
sc_w             0.0
talk_time        0.0
three_g          0.0
touch_screen     0.0
wifi             0.0
price_range      0.0
dtype: float64

In [64]:
features = list(df)
lables = features.pop()
x, y = df[features], df[lables]

In [65]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=.2, random_state=0)

In [66]:
print('X_train shape:  ', X_train.shape)
print('X_test shape:  ', X_test.shape)
print('Y_train shape:  ', y_train.shape)
print('Y_test shape:  ', y_test.shape)

X_train shape:   (1600, 20)
X_test shape:   (400, 20)
Y_train shape:   (1600,)
Y_test shape:   (400,)

In [67]:
X_train.to_csv('split_data/x_train.csv', index=False)
X_test.to_csv('split_data/x_test.csv', index=False)

### Push Split Data To S3 Bucket

In [68]:
sk_prefix = f'sagemaker/{bucket}/sklearncontainer'
train_path = session.upload_data(
    path='split_data/x_train.csv',
    bucket=bucket,
    key_prefix=sk_prefix
)

test_path = session.upload_data(
    path='split_data/x_test.csv',
    bucket=bucket,
    key_prefix=sk_prefix
)

print(train_path)
print(test_path)

s3://ml-mobile-price-classification-sagemaker/sagemaker/ml-mobile-price-classification-sagemaker/sklearncontainer/x_train.csv
s3://ml-mobile-price-classification-sagemaker/sagemaker/ml-mobile-price-classification-sagemaker/sklearncontainer/x_test.csv

In [74]:
%%writefile script.py
import sagemaker
import boto3

import joblib
import pathlib
from io import StringIO
import argparse
import os

import pandas as pd
import numpy as np

import sklearn
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, precision_score, f1_score
from sklearn.model_selection import train_test_split

def model_fxn(model_dir):
    clf = joblib.load(os.path.join(model_dir, 'model.joblib'))
    return clf

if __name__ == '__main__':
    print('[INFO] Extracting arguments')
    parser = argparse.ArgumentParser()

    """
        Hyperparameters sent by client are passed as command lin arguments to the script
    """
    parser.add_argument("--n_estimators", type=int, default=100)
    parser.add_argument("--random_state", type=int, default=0)

    # Data, model and output directories
    parser.add_argument("--model-dir", type=str, default=os.environ.get("SM_MODEL_DIR"))
    parser.add_argument("--train", type=str, default-os.environ.get("SM_CHANNEL_TRAIN"))
    parser.add_argument("--test", type=str, default-os.environ.get("SM_CHANNEL_TEST"))
    parser.add_argument("--train-file", type=str, default-os.environ.get("x_train.csv"))
    parser.add_argument("--test-file", type=str, default-os.environ.get("x_test.csv"))

    args, _ = parser.parse_known_args()

    print("SKLearn Version:  ", sklearn.__version__)
    print("Joblib Version:  ", joblib.__version__)

Overwriting script.py